*, h1, h2, h3, h4, h5, h6,
figure, time {
  margin: 0;
  padding: 0;
  line-height: 1.75;
}

html {
  font-size: 62.5%;
  font-family: $a-font-sans;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: $a-width-lg;
  @include a-fz-md;
  color: #333;
  line-height: $a-lineheight-md;
  letter-spacing: 0.05em;
  word-break: normal;
  word-wrap: break-word;

  @media screen and (max-width: 767px) {
    min-width: auto;
    letter-spacing: 0;
  }
}

.is-nav-open {
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.1s;

  &:hover {
    opacity: 0.8;
  }
}

li {
  list-style: none;
}
