@mixin width-md {
  @include a-width-md;
  margin: 0 auto;
}

@mixin width-sm {
  @include a-width-sm;
  margin: 0 auto;
}

@mixin arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-left-color: #ffac2a;
  content: "";

  @media screen and (max-width: 767px) {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: none;
    border-left: 4px solid #ffac2a;
  }
}

@mixin heading-lg {
  font-weight: 500;
  letter-spacing: 0.1em;
}

@mixin heading-brown {
  color: $a-color-brown;
  font-family: $a-font-noto;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.075em;

  @media screen and (max-width: 767px) {
    font-size: 1.5rem;
  }
}

@mixin animation {
  @keyframes zukin {
    0% {
      transform: rotate(0);
      transform-origin: bottom;
    }
    50% {
      transform: rotate(-15deg);
      transform-origin: bottom;
    }
    100% {
      transform: rotate(0);
      transform-origin: bottom;
    }
  }

  @keyframes hand01 {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes hand02 {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50px);
    }
  }

  @keyframes slide-left02 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translate(-20px, 15px);
    }
  }

  @keyframes slide-left-both {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-left-swing {
    0% {
      transform: translateY(0);
      transform: translateX(0);
    }
    25% {
      transform: translateY(10px);
      transform: translateX(-5px);
    }
    50% {
      transform: translateY(0);
      transform: translateX(-10px);
    }
    75% {
      transform: translateY(10px);
      transform: translateX(-15px);
    }
    100% {
      transform: translateY(0);
      transform: translateX(-20px);
    }
  }

  @keyframes slide-top {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translate(0, -20px);
    }
    20% {
      transform: translateX(0);
    }
    30% {
      transform: translate(0, -20px);
    }
    40% {
      transform: translateX(0);
    }
  }
}
