@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// フォントサイズ
$a-fz-sm: 1.4rem;
$a-fz-md: 1.5rem;
$a-fz-lg: 1.8rem;

@mixin a-fz-sm {
  font-size: $a-fz-sm;

  @media screen and (max-width: 767px) {
    font-size: 1.1rem;
  }
}

@mixin a-fz-md {
  font-size: $a-fz-md;

  @media screen and (max-width: 767px) {
    font-size: 1.3rem;
  }
}

@mixin a-fz-lg {
  font-size: $a-fz-lg;

  @media screen and (max-width: 767px) {
    font-size: 1.5rem;
  }
}

// フォントファミリー
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
$a-font-serif:  Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
$a-font-sans: "Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
$a-font-noto: 'Noto Sans Japanese', sans-serif;

// 行間
$a-lineheight-md: 1.5;

// 色
$a-color-orange: #ffac2a;
$a-color-orange--text: #e98b04;
$a-color-pink: #d66c9c;
$a-color-blue: #64acd9;
$a-color-green: #87af4e;
$a-color-brown: #6a3c24;
$a-color-link: #8e5947;



// 横幅
$a-width-sm: 900px;
$a-width-md: 960px;
$a-width-lg: 1000px;

$a-width-sp-md: 90%;
$a-width-sp-lg: 92%;

$a-paddingX-md: 5.3%;
$a-paddingX-lg: 8%;
$a-paddingX-xl: 11.3%;
$a-paddingX-xxl: 13.3%;

@mixin a-width-sm {
  width: $a-width-sm;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: $a-width-sp-md;
  }
}

@mixin a-width-md {
  width: $a-width-md;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: $a-width-sp-md;
  }
}

@mixin a-width-lg {
  width: $a-width-lg;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: $a-width-sp-lg;
  }
}

// 写真サイズ
$a-photo-md: 368px;

// 角丸
$a-borderradius-sm: 2px;
$a-borderradius-md: 4px;
