.u-sp-none {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.u-pc-none {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}


// アニメーション
.fade {
  opacity: 0;
  transition: 1.2s opacity ease-in-out;

  @media screen and (max-width: 767px) {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 1;
}
