@charset "UTF-8";
@import "~sanitize.css";


/* Base
   ----------------------------------------------------------------- */
@import "base/variables";
@import "base/base";
@import "base/mixin";


/* Component
   ----------------------------------------------------------------- */
@import "component/page";
@import "component/header";
@import "component/headerSp";
@import "component/nav";
@import "component/navSp";
@import "component/footer";
@import "component/pdf";
@import "component/pagenavi";


/* Page
   ----------------------------------------------------------------- */
@import "page/top";
@import "page/policy";
@import "page/play";
@import "page/facility";
@import "page/season";
@import "page/blog";
@import "page/document";
@import "page/support";
@import "page/area";
@import "page/recruit";


/* Utility
   ----------------------------------------------------------------- */
@import "utility/utility";
@import "utility/slick";
@import "utility/slick-theme";
