.d-area {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-copy {
    position: relative;
    width: 480px;
    margin: 95px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 75px auto 0;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-copyText {
    font-family: $a-font-noto;
    line-height: 2.2;

    @media screen and (max-width: 767px) {
      line-height: 1.7;
    }
  }

  &-copyIcon01 {
    position: absolute;
    left: -155px;
    bottom: 0;
    width: 33px;
    animation: zukin 2s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      left: $a-paddingX-xl;
      bottom: -70px;
      width: 20px;
    }
  }

  &-copyIcon02 {
    position: absolute;
    left: -120px;
    bottom: 25px;
    width: 26px;
    animation: zukin 2s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      left: 17%;
      bottom: -45px;
      width: 16px;
    }
  }

  &-copyIcon03 {
    position: absolute;
    right: -200px;
    bottom: -45px;
    width: 139px;
    animation: slide-left-both 3s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      right: $a-paddingX-xl;
      bottom: -70px;
      width: 84px;
    }
  }

  &-photo {
    width: 860px;
    margin: 90px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 150px auto 0;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-photoList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &-photoItem {
    width: 385px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    // PC
    @media screen and (min-width: 768px) {
      &:nth-child(n + 3) {
        margin-top: 75px;
      }
    }

    // SP
    @media screen and (max-width: 767px) {
      & + & {
        margin-top: 55px;
      }
    }
  }

  &-photoTitle {
    @include heading-brown;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  }

  &-photoText {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 2.14;

    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
      line-height: 1.73;
    }
  }

  &-hall {
    position: relative;
    width: 860px;
    margin: 150px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 130px auto 0;
    }
  }

  &-hallTitle {
    width: 266px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 200px;
    }
  }

  &-hallImg {
    width: 385px;
    margin-right: 75px;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 0 $a-paddingX-xl;
      margin-right: 0;
    }
  }

  &-hallInner {
    display: flex;
    align-items: flex-start;
    margin-top: 55px;

    @media screen and (max-width: 767px) {
      display: block;
      margin-top: 30px;
    }
  }

  &-hallInfo {
    margin-top: 10px;

    @media screen and (max-width: 767px) {
      margin-top: 50px;
    }
  }

  &-hallText {
    line-height: 2;

    @media screen and (max-width: 767px) {
      padding: 0 $a-paddingX-xl;
      line-height: 1.73;
    }

    &::after {
      display: block;
      width: 100%;
      height: 1px;
      padding-top: 25px;
      background-image: url("/komugi/assets/images/dot_line.png");
      background-size: auto 1px;
      background-position: bottom;
      content: "";

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &-hallListWrap {
    @media screen and (max-width: 767px) {
      margin: 25px auto;
      padding: 0 $a-paddingX-md;

      &::before,
      &::after {
        display: block;
        width: 100%;
        height: 1px;
        background-image: url("/komugi/assets/images/dot_line.png");
        background-size: auto 1px;
        background-position: bottom;
        content: "";
      }
    }
  }

  &-hallList {
    display: flex;
    margin: 20px auto 50px;

    @media screen and (max-width: 767px) {
      margin: 20px auto 20px;
    }
  }

  &-hallItemTitle {
    width: 98px;
    margin-right: 12px;
    border-radius: 3px;
    background-color: #e8ddc9;
    color: $a-color-brown;
    font-size: 1.2rem;
    line-height: 25px;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: 74px;
      border-radius: 2px;
      font-size: 0.9rem;
      line-height: 20px;
    }
  }

  &-hallItemText {
    font-size: 1.4rem;

    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }

  &-hallIcon {
    position: absolute;
    right: -15px;
    top: -75px;
    width: 191px;

    @media screen and (max-width: 767px) {
      top: -105px;
      right: $a-paddingX-xl;
      width: 120px;
    }
  }

  &-hallBtn {
    @media screen and (max-width: 767px) {
      width: 77.4%;
      margin: 0 auto;
    }
  }
}
