.d-blog {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */


  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-content {
    background-image: url("/komugi/assets/images/blog/blog_bg.jpg");
    background-size: cover;
    padding-bottom: 120px;

    @media screen and (max-width: 767px) {
      margin-top: 15px;
      padding-bottom: 200px;
    }
  }

  &-title {
    @include heading-brown;
    position: relative;
    width: 150px;
    padding-top: 85px;
    margin: 0 auto;
    font-size: 2.2rem;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: 105px;
      padding-top: 60px;
    }
  }

  &-titleIcon01 {
    position: absolute;
    left: -220px;
    bottom: -15px;
    width: 25px;

    @media screen and (max-width: 767px) {
      left: -108px;
      bottom: -8px;
      width: 14px;
    }
  }

  &-titleIcon02 {
    position: absolute;
    left: -180px;
    bottom: 0;
    width: 15px;

    @media screen and (max-width: 767px) {
      left: -88px;
      bottom: 5px;
      width: 8px;
    }
  }

  &-titleIcon03 {
    position: absolute;
    left: -145px;
    bottom: -20px;
    width: 73px;

    @media screen and (max-width: 767px) {
      left: -72px;
      bottom: -8px;
      width: 40px;
    }
  }

  &-titleIcon04 {
    position: absolute;
    left: -95px;
    bottom: -10px;
    width: 30px;

    @media screen and (max-width: 767px) {
      left: -44px;
      bottom: -5px;
      width: 16px;
    }
  }

  &-titleIcon05 {
    position: absolute;
    right: -95px;
    bottom: 0;
    width: 21px;

    @media screen and (max-width: 767px) {
      right: -28px;
      bottom: 5px;
      width: 12px;
    }
  }

  &-titleIcon06 {
    position: absolute;
    right: -150px;
    bottom: -10px;
    width: 56px;

    @media screen and (max-width: 767px) {
      right: -65px;
      bottom: -5px;
      width: 30px;
    }
  }

  &-titleIcon07 {
    position: absolute;
    right: -190px;
    bottom: 15px;
    width: 24px;

    @media screen and (max-width: 767px) {
      right: -85px;
      bottom: 10px;
      width: 13px;
    }
  }

  &-titleIcon08 {
    position: absolute;
    right: -230px;
    bottom: -15px;
    width: 26px;

    @media screen and (max-width: 767px) {
      right: -105px;
      bottom: -8px;
      width: 15px;
    }
  }

  &-postList {
    width: 900px;
    margin: 75px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 40px auto 0;
      padding: 0 $a-paddingX-md;
    }
  }

  &-postItem {
    padding: 30px 35px 35px;
    background-color: #fff;
    border-radius: 3px;

    @media screen and (max-width: 767px) {
      padding: 20px 20px 40px;
    }

    & + & {
      margin-top: 50px;


      @media screen and (max-width: 767px) {
      }
    }
  }

  &-postHeader {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      position: relative;
    }
  }

  &-postTitle {
    color: $a-color-orange;
    font-family: $a-font-noto;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      font-size: 1.4rem;
    }
  }

  &-postDate {
    color: $a-color-brown;
    font-size: 1.4rem;

    @media screen and (max-width: 767px) {
      position: absolute;
      right: 5px;
      bottom: -35px;
      font-size: 1rem;
    }
  }

  &-postLine {
    margin: 10px auto 30px;
    width: 100%;
    height: 4px;
    background-image: url("/komugi/assets/images/blog/blog_border.png");
    background-size: auto 4px;

    @media screen and (max-width: 767px) {
      height: 2px;
    }
  }

  &-postContent {
  }

  &-postBlock {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
      display: block;
    }

    & + & {
      margin-top: 45px;

      @media screen and (max-width: 767px) {
        margin-top: 30px;
      }
    }
  }

  &-postImg {
    flex-shrink: 0;
    max-width: 368px;
    margin: 0 40px 20px 0;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
    //
    // img {
    //   height: auto;
    //   margin-right: 40px;
    //
    //   @media screen and (max-width: 767px) {
    //   }
    // }
  }

  &-postText {
    width: 100%;
    font-size: 1.3rem;
    overflow: hidden;

    p + p {
      margin-top: 15px;

      @media screen and (max-width: 767px) {
        margin-top: 30px;
      }
    }

    // img {
    //   max-width: 368px;
    //   margin: 0 40px 20px 0;
    //
    //   @media screen and (max-width: 767px) {
    //     max-width: 100%;
    //     margin: 0;
    //   }
    // }

    p + img {
      @media screen and (max-width: 767px) {
        margin-top: 55px;
      }
    }

    img + p {
      @media screen and (max-width: 767px) {
        margin-top: 25px;
      }
    }

    .aloignright {
      float: right;
      margin-left: 40px;

      @media screen and (max-width: 767px) {
      }
    }
  }

  &-postLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 52px;
    margin: 35px auto 0;
    background-image: url("/komugi/assets/images/blog/blog_btn.png");
    background-size: contain;
    color: #fff;
    font-family: $a-font-noto;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.075em;
    clear: both;

    @media screen and (max-width: 767px) {
      width: 223px;
      height: 38px;
      background-image: url("/komugi/assets/images/blog/blog_btn04.png");
      font-size: 1.3rem;
    }

    &.is_prev {
      background-image: url("/komugi/assets/images/blog/blog_btn02.png");

      @media screen and (max-width: 767px) {
        background-image: url("/komugi/assets/images/blog/blog_btn04.png");
      }
    }
  }
}
