.d-document {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  .c-page-content {
    @media screen and (max-width: 767px) {
      padding-bottom: 300px;
    }
  }

  &-copy {
    position: relative;
    width: 460px;
    margin: 90px auto 0;

    @media screen and (max-width: 767px) {
      width: 260px;
      margin: 75px auto 0;
    }
  }

  &-copyText {
    font-family: $a-font-noto;
    line-height: 2.2;
    text-align: center;

    @media screen and (max-width: 767px) {
      line-height: 1.7;
    }
  }

  &-copyIcon01 {
    position: absolute;
    top: -18px;
    left: -86px;
    width: 52px;

    @media screen and (max-width: 767px) {
      width: 30px;
      left: -30px;
    }
  }

  &-copyIcon02 {
    position: absolute;
    top: -11px;
    right: -88px;
    width: 46px;

    @media screen and (max-width: 767px) {
      right: -30px;
      width: 28px;
    }
  }

  &-contact {
    @media screen and (max-width: 767px) {
    }
  }

  &-contactInner {
    width: 860px;
    margin: 95px auto 0;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 75px auto 0;
      padding: 0 $a-paddingX-md;
    }

    &::after {
      display: block;
      width: 100%;
      height: 1px;
      background-image: url("/komugi/assets/images/document/document_dot.png");
      background-size: cover;
      content: "";


      @media screen and (max-width: 767px) {
      }
    }
  }

  &-contactTitle {
    width: 263px;

    @media screen and (max-width: 767px) {
      width: 198px;
    }
  }

  &-contactText {
    margin-top: 50px;
    font-size: 1.4rem;
    line-height: 2.36;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
      font-size: 1.3rem;
      line-height: 1.7;
    }
  }

  &-contactInfo {
    position: relative;
    width: 395px;
    height: 95px;
    margin: 25px auto 45px;
    background-image: url("/komugi/assets/images/document/document_bg.png");
    background-size: cover;
    color: $a-color-brown;

    @media screen and (max-width: 767px) {
      width: 77vw;
      height: 70px;
      margin: 25px auto 115px;
      border-radius: 4px;
    }
  }

  &-contactName {
    padding-top: 15px;
    font-size: 1.6rem;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      padding-top: 10px;
      font-size: 1.2rem;
    }
  }

  &-contactTel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }

    &::before {
      display: block;
      width: 27px;
      height: 27px;
      margin-right: 15px;
      background-image: url("/komugi/assets/images/document/document_tel.png");
      background-size: 27px;
      content: "";

      @media screen and (max-width: 767px) {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-size: 20px;
      }
    }
  }

  &-contactTelSmall {
    font-size: 1.4rem;
    font-weight: normal;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  &-contactIcon01 {
    position: absolute;
    bottom: 0;
    left: -254px;
    width: 171px;

    @media screen and (max-width: 767px) {
      left: 16%;
      bottom: -80px;
      width: 85px;
    }
  }

  &-contactIcon02 {
    position: absolute;
    bottom: -10px;
    right: -195px;
    width: 84px;

    @media screen and (max-width: 767px) {
      left: 62%;
      bottom: -80px;
      width: 42px;
    }
  }

  &-pdf {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 45px auto 0;
    width: 860px;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      width: 100%;
      margin: 35px auto 0;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-pdfImg {
    width: 385px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 45px;
    }
  }

  &-pdfInfo {
    width: 390px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-pdfTitle {
    @include heading-brown;
    margin-top: -8px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &-pdfList {
    margin-top: 10px;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &-pdfItem {
    & + & {
      margin-top: 20px;


      @media screen and (max-width: 767px) {
      }    }

      @media screen and (max-width: 767px) {
      }
  }

  &-parent {
    margin-top: 150px;

    @media screen and (max-width: 767px) {
      margin-top: 100px;
    }
  }

  &-parentTitle {
    position: relative;
    width: 303px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 227px;
    }
  }

  &-parentIcon01 {
    position: absolute;
    top: 5px;
    left: -86px;
    width: 49px;

    @media screen and (max-width: 767px) {
      left: -45px;
      width: 37px;
    }
  }

  &-parentIcon02 {
    position: absolute;
    top: 0;
    right: -74px;
    width: 46px;

    @media screen and (max-width: 767px) {
      right: -40px;
      width: 35px;
    }
  }

  &-hospital {
    position: relative;
    margin: 145px auto 0;
    width: 860px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 100px auto 120px;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-hospitalTitle {
    display: block;
    width: 327px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 245px;
    }
  }

  &-hospitalInfo {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 65px;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      margin-top: 35px;
    }
  }

  &-hospitalImg {
    width: 385px;
    margin-right: 80px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 35px;
      margin-right: 0;
    }
  }

  &-hospitalList {
    color: $a-color-brown;
  }

  &-hospitalItem {
    & + & {
      margin-top: 35px;

      @media screen and (max-width: 767px) {
        margin-top: 25px;
      }
    }
  }

  &-hospitalName {
    @include heading-brown;

    @media screen and (max-width: 767px) {
    }
  }

  &-hospitalAnchor {
    display: block;
    font-size: 1.4rem;
    text-decoration: underline;

    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-hospitalIcon01 {
    position: absolute;
    right: 15px;
    bottom: 75px;
    width: 96px;

    @media screen and (max-width: 767px) {
      right: 70px;
      bottom: -70px;
      width: 65px;
    }
  }

  &-hospitalIcon02 {
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 102px;

    @media screen and (max-width: 767px) {
      right: 40px;
      bottom: -120px;
      width: 70px;
    }
  }
}
