.d-facility {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-copy {
    position: relative;
    width: 960px;
    margin: 90px auto 0;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 75px auto 0;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-copyTitle {
    width: 482px;

    @media screen and (max-width: 767px) {
      display: block;
      width: 216px;
      margin: 0 auto;
    }
  }

  &-copyText {
    width: 500px;
    margin: 45px auto;
    font-family: $a-font-noto;
    text-align: left;
    line-height: 2.2;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-copyIcon01 {
    position: absolute;
    left: 55px;
    bottom: -25px;
    width: 110px;
    height: 90px;
    animation: zukin ease-in-out 3s 1.5s infinite;

    @media screen and (max-width: 767px) {
      bottom: -65px;
      left: $a-paddingX-xl;
      width: 67px;
      height: auto;
    }
  }

  &-copyIcon02 {
    position: absolute;
    right: 50px;
    bottom: -25px;
    width: 113px;
    height: 90px;
    animation: zukin ease-in-out 3s infinite;

    @media screen and (max-width: 767px) {
      bottom: -65px;
      right: $a-paddingX-xl;
      width: 67px;
      height: auto;
    }
  }

  &-copyIcon03 {
    position: absolute;
    top: 0;
    right: 80px;
    width: 53px;
    height: 53px;

    @media screen and (max-width: 767px) {
      top: 45px;
      right: $a-paddingX-xl;
      width: 32px;
      height: auto;
    }
  }

  &-about {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 105px auto 0;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      margin: 135px auto 0;
      padding: 0 $a-paddingX-md;
    }
  }

  &-aboutInfo {
    width: 456px;
    height: 505px;
    padding: 10px 25px;
    background-image: url("/komugi/assets/images/facility/facility_border01.png");
    background-size: contain;

    @media screen and (max-width: 767px) {
      position: relative;
      width: 100%;
      height: auto;
      padding: 5px 20px;
      background-image: url("/komugi/assets/images/facility/facility_border_middle.png");
      background-repeat: repeat;
      background-size: 100%;
    }

    &::before,
    &::after {
      @media screen and (max-width: 767px) {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 5px;
        background-size: cover;
        background-size: 100%;
        content: "";
      }
    }

    &::before {
      @media screen and (max-width: 767px) {
        top: -5px;
        background-image: url("/komugi/assets/images/facility/facility_border_top.png");
      }
    }

    &::after {
      @media screen and (max-width: 767px) {
        bottom: -5px;
        background-image: url("/komugi/assets/images/facility/facility_border_bottom.png");
        background-position: bottom;
      }
    }
  }

  &-aboutList {
    display: flex;
    padding: 16px 5px;
    font-size: 1.4rem;

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
      padding: 10px 0;
    }

    & + & {
      border-top: 1px solid #e8ddc9;
    }
  }

  &-aboutTitle {
    width: 90px;
    color: #975900;

    @media screen and (max-width: 767px) {
      width: 60px;
    }
  }

  &-aboutMap {
    width: 456px;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 35px;
    }
  }

  &-aboutMapImg {
    margin-bottom: 50px;

    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  &-aboutBtn {
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 54px;
    background-image: url("/komugi/assets/images/facility/facility_btn.png");
    background-size: contain;
    color: #fff;
    font-family: $a-font-noto;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      float: none;
      width: 223px;
      height: 39px;
      margin: 0 auto;
      background-image: url("/komugi/assets/images/facility/facility_btn02.png");
      font-size: 1.3rem;
    }

    &::before {
      position: absolute;
      right: 18px;
      display: block;
      width: 12px;
      height: 12px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      content: "";

      @media screen and (max-width: 767px) {
        top: 15px;
        width: 8px;
        height: 8px;
      }
    }
  }

  &-detail {
    width: 818px;
    height: 551px;
    margin: 70px auto 0;
    padding: 10px 25px;
    background-image: url("/komugi/assets/images/facility/facility_border02.png");
    background-size: contain;

    @media screen and (max-width: 767px) {
      position: relative;
      width: 89.4%;
      height: auto;
      margin: 45px auto 0;
      padding: 5px 20px;
      background-image: url("/komugi/assets/images/facility/facility_border_middle.png");
      background-repeat: repeat;
      background-size: 100%;
    }

    &::before,
    &::after {
      @media screen and (max-width: 767px) {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 5px;
        background-size: cover;
        background-size: 100%;
        content: "";
      }
    }

    &::before {
      @media screen and (max-width: 767px) {
        top: -5px;
        background-image: url("/komugi/assets/images/facility/facility_border_top.png");
      }
    }

    &::after {
      @media screen and (max-width: 767px) {
        bottom: -5px;
        background-image: url("/komugi/assets/images/facility/facility_border_bottom.png");
        background-position: bottom;
      }
    }
  }

  &-deitalList {
    display: flex;
    padding: 16px 5px;
    font-size: 1.4rem;

    @media screen and (max-width: 767px) {
      padding: 10px 0;
      font-size: 1.1rem;
    }

    & + & {
      border-top: 1px solid #e8ddc9;


      @media screen and (max-width: 767px) {
      }
    }
  }

  &-deitalTitle {
    flex-shrink: 0;
    width: 130px;
    color: #975900;

    @media screen and (max-width: 767px) {
      width: 60px;
    }
  }

  &-photoList {
    display: flex;
    justify-content: space-between;
    width: 890px;
    margin: 65px auto;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap-reverse;
      justify-content: center;
      width: 100%;
      margin: 35px auto 0;
      padding: 0 $a-paddingX-lg;
    }
  }

  &-photoItem {
    width: 242px;

    @media screen and (max-width: 767px) {
      width: 35.466666667%;

      &:nth-child(1) {
        order: 1;
        width: 35vw;
      }

      &:nth-child(2) {
        order: 3;
        width: 39.5vw;
      }

      &:nth-child(3) {
        order: 2;
        width: 35vw;
        margin-left: 12vw;
      }

      &:nth-child(n + 2) {
        margin-top: 10px;
      }
    }
  }

  &-introduction {
    position: relative;
    width: 1000px;
    margin: 185px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 195px auto 0;
      padding: 0 $a-paddingX-md;
    }
  }

  &-introductionTitle {
    display: block;
    width: 266px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 194px;
    }
  }

  &-introductionIcon01 {
    position: absolute;
    top: -50px;
    right: 115px;
    width: 82px;
    animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate;

    @media screen and (max-width: 767px) {
      top: -140px;
      right: 40px;
      width: 45px;
    }
  }

  &-introductionIcon02 {
    position: absolute;
    top: 40px;
    right: 125px;
    width: 45px;
    animation: slide-left 2s 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate;

    @media screen and (max-width: 767px) {
      top: -85px;
      right: 40px;
      width: 25px;
    }
  }

  &-introductionText {
    width: 500px;
    margin: 55px auto 0;

    @media screen and (max-width: 767px) {
      width: 289px;
      margin: 35px auto 0;
    }
  }

  &-introductionList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;

    @media screen and (max-width: 767px) {
      margin-top: 40px;
    }
  }

  &-introductionItem {
    width: 308px;

    @media screen and (max-width: 767px) {
      width: 46%;
    }

    &:nth-child(n + 4) {
      margin-top: 60px;

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }

    &:nth-child(n + 3) {
      @media screen and (max-width: 767px) {
        margin-top: 25px;
      }
    }
  }

  &-introductionNote {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: normal;

    @media screen and (max-width: 767px) {
      margin-top: 5px;
      color: $a-color-brown;
      font-family: $a-font-noto;
      font-size: 0.9rem;
    }
  }
}
