.d-play {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-copy {
    position: relative;
    width: 648px;
    margin: 90px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 75px auto 0;
    }
  }

  &-copyTitle {
    width: 648px;

    @media screen and (max-width: 767px) {
      display: block;
      width: 288px;
      margin: 0 auto;
    }
  }

  &-copyText {
    width: 520px;
    margin: 40px auto 0;
    font-family: $a-font-noto;
    line-height: 2.2;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-copyIconWrap {
    @media screen and (max-width: 767px) {
      margin-top: 20px;
      text-align: center;
    }
  }

  &-copyIcon01 {
    position: absolute;
    top: 75px;
    left: -145px;
    width: 149px;
    animation: zukin ease-in-out 3s infinite;

    @media screen and (max-width: 767px) {
      position: static;
      width: 89px;
    }
  }

  &-copyIcon02 {
    position: absolute;
    right: -77px;
    bottom: -0;
    width: 81px;
    animation: slide-top 3s infinite;

    @media screen and (max-width: 767px) {
      position: static;
      width: 45px;
      margin-left: 35px;
      vertical-align: bottom;
    }
  }

  &-walk {
    position: relative;
    display: flex;
    width: 840px;
    margin: 90px auto 0;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      padding: 0 $a-paddingX-xl;
      overflow: hidden;
    }
  }

  &-walkImg {
    width: 385px;
    height: 250px;

    @media screen and (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }

  &-walkInfo {
    margin-left: 60px;

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }

  &-walkTitle {
    @include heading-brown;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  }

  &-walkText {
    margin-top: 15px;
    font-size: 1.4rem;

    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }

  &-walkIcon {
    position: absolute;
    right: -40px;
    bottom: -25px;
    width: 122px;
    animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate;

    @media screen and (max-width: 767px) {
      position: static;
      float: right;
      width: 90px;
      margin-top: 35px;
    }
  }

  &-map {
    width: 1000px;
    margin: 85px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 50px auto 0;
      padding: 1.3%;
    }
  }

  &-mapTitle {
    width: 414px;
    margin-left: 65px;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      max-width: 335px;;
      margin: 0 auto;
    }
  }

  &-mapImg {
    width: 981px;
    margin-top: -20px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 10px;
    }
  }

  &-photoList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 850px;
    margin: 100px auto 0;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      margin: 60px auto 0;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-photoItem {
    width: 385px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &:nth-child(n + 3) {
      margin-top: 80px;


      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }

    & + & {
      @media screen and (max-width: 767px) {
        margin-top: 55px;
      }
    }
  }

  &-photoImg {
  }

  &-photoTitle {
    @include heading-brown;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  }

  &-photoText {
    margin-top: 15px;
    font-size: 1.4rem;
    line-height: 2.14;
    letter-spacing: -0.04em;

    @media screen and (max-width: 767px) {
      margin-top: 10px;
      font-size: 1.3rem;
      line-height: 1.73;
    }
  }
}
