.d-policy {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-copy {
    margin-top: 90px;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-top: 75px;
    }
  }

  &-copyTitle {
    display: block;
    width: 676px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 288px;
    }
  }

  &-copyText {
    width: 436px;
    margin-top: 60px;

    @media screen and (max-width: 767px) {
      width: 315px;;
      margin: 30px auto 0;
    }
  }

  &-content {
    margin-top: 100px;
    background-image: url("/komugi/assets/images/policy/policy_bg.png");
    background-position: center 65px;
    background-size: cover;

    @media screen and (max-width: 767px) {
      margin-top: 45px;
      background-image: url("/komugi/assets/images/policy/policy_bg03.png");
      background-position-y: 280px;
    }
  }

  &-bgBottom {
    width: 100%;
    @media screen and (max-width: 767px) {
    }
  }

  &-comment {
    display: flex;
    width: 960px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      width: 100%;
      padding: 0 $a-paddingX-md;
    }
  }

  &-commentTextWrap {
    flex-shrink: 0;
    width: 594px;
    height: 245px;
    margin-left: 50px;
    padding: 40px 70px 40px 40px;
    background-image: url("/komugi/assets/images/policy/policy_modal.png");
    background-size: contain;

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 335px;
      margin: 10px auto 0;
      padding: 40px 15px 25px;
      background-image: url("/komugi/assets/images/policy/policy_modal02.png");
    }
  }

  &-commentText {
    font-size: 1.4rem;
    line-height: 2;

    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
      line-height: 1.7;
    }

    @media screen and (max-width: 320px) {
      font-size: 1.2rem;
    }

    & + & {
      margin-top: 15px;

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }
  }

  &-commentPhoto {
    width: 254px;
    margin-left: 25px;

    @media screen and (max-width: 767px) {
      width: 152px;
      margin: 0 auto;
    }
  }

  &-commentImg {
    @media screen and (max-width: 767px) {
    }
  }

  &-commentName {
    margin-top: 10px;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
    }
  }

  &-photoList {
    width: 960px;
    margin: 60px auto 0;
    padding-bottom: 60px;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 60px auto 45px;
      padding: 0 $a-paddingX-xxl;
    }
  }

  &-photoItem {
    display: flex;
    align-items: center;
    margin-left: 50px;

    @media screen and (max-width: 767px) {
      display: block;
      margin-left: 0;
    }

    & + & {
      margin-top: 40px;

      @media screen and (max-width: 767px) {
        margin-top: 60px;
      }
    }

    &:nth-child(2) {
      flex-direction: row-reverse;
      justify-content: flex-end;

      @media screen and (max-width: 767px) {
      }
    }

    &:nth-child(3) {
      margin-left: 20px;

      @media screen and (max-width: 767px) {
        margin-left: 0;
      }
    }
  }

  &-photoImg {
    display: block;

    &[src*="policy_img02"] {
      width: 390px;
      margin-right: 57px;

      @media screen and (max-width: 767px) {
        width: 255px;
        margin: 0 auto;
      }
    }
    &[src*="policy_img03"] {
      width: 374px;
      margin-left: 53px;

      @media screen and (max-width: 767px) {
        width: 243px;
        margin: 0 auto;
      }
    }
    &[src*="policy_img04"] {
      width: 366px;
      margin-right: 54px;

      @media screen and (max-width: 767px) {
        width: 238px;
        margin: 0 auto;
      }
    }
  }

  &-photoText {
    line-height: 2;

    @media screen and (max-width: 767px) {
      margin-top: 35px;
      line-height: 1.7;
    }

    & + & {
      margin-top: 15px;

      @media screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }
  }

  &-link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 780px;
    margin: 75px auto 0;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      margin: 55px auto 0;
      padding: 0 $a-paddingX-lg;
    }
  }

  &-linkText {
    line-height: 2;
    @media screen and (max-width: 767px) {
    }
  }

  &-linkImg {
    width: 326px;
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 326px;
      margin-top: 35px;
    }
  }
}
