.d-recruit {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;


  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-copy {
    position: relative;
    width: 566px;
    margin: 95px auto 0;

    @media screen and (max-width: 767px) {
      width: 248px;
      margin: 75px auto 0;
    }
  }

  &-copyText {
    @media screen and (max-width: 767px) {
    }
  }

  &-copyTextImg {
    @media screen and (max-width: 767px) {
    }
  }

  &-copyIcon01 {
    position: absolute;
    left: -127px;
    bottom: -40px;
    width: 75px;
    animation: zukin ease-in-out 3s infinite;

    @media screen and (max-width: 767px) {
      left: -5px;
      bottom: -135px;
      width: 45px;
    }
  }

  &-copyIcon02 {
    position: absolute;
    right: -118px;
    bottom: -48px;
    width: 70px;
    transform-origin: center;
    animation: hand01 ease-in-out 3s infinite;

    @media screen and (max-width: 767px) {
      right: 5px;
      bottom: -140px;
      width: 42px;
    }
  }

  &-photo {
    @media screen and (max-width: 767px) {
      padding: 0 $a-paddingX-xl;
    }
  }

  &-photoList {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 55px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 40px auto 0;
    }
  }

  &-photoItem {
    width: 220px;
    margin-top: 115px;

    @media screen and (max-width: 767px) {
      width: 110px;
      margin-top: 125px;
    }

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(1) {
      @media screen and (max-width: 767px) {
        margin-right: -25px;
      }
    }

    &:nth-child(3) {
      @media screen and (max-width: 767px) {
        margin-left: -25px;
      }
    }
  }

  &-photoContent {
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 40px auto 0;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }

  &-photoText {
    width: 400px;
    color: #333;
    font-size: 1.4rem;
    line-height: 2.14;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 40px;
      font-size: 1.2rem;
      line-height: 1.7;
    }
  }

  &-mark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px 16px 190px;
    width: 890px;
    height: 134px;
    margin: 60px auto 0;
    border-radius: 6px;
    background-image: url("/komugi/assets/images/recruit/recruit_icon.png");
    background-size: cover;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      width: 289px;
      height: 161px;
      margin: 35px auto 0;
      padding: 14px 14px 14px 86px;
      background-image: url("/komugi/assets/images/recruit/recruit_icon_sp.png");
      border-radius: 2px;
    }
  }

  &-markImg {
    width: 107px;

    @media screen and (max-width: 767px) {
      width: 52px;
      margin-right: 18px;
    }
  }

  &-markText {
    width: 645px;
    font-size: 1.4rem;
    line-height: 2.14;
    letter-spacing: -0.045em;

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
      line-height: 1.7;
    }
  }

  &-about {
    width: 850px;
    margin: 105px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 70px auto 0;
      padding: 0 $a-paddingX-md;
    }
  }

  &-aboutTitle {
    width: 120px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 90px;
    }
  }

  &-aboutStop {
    margin-top: 50px;
    color: $a-color-orange;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &-aboutContent {
    margin-top: 40px;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &-aboutList {
    display: flex;
    padding: 20px 30px;

    @media screen and (max-width: 767px) {
      display: block;
      padding: 15px 0;
    }

    & + & {
      border-top: 1px solid #e8ddc9;
    }

    &--row {
      @media screen and (max-width: 767px) {
        display: flex;

        .d-recruit-aboutText {
          margin-top: 0;
        }

        .d-recruit-aboutName {
          width: 80px;
        }
      }
    }
  }

  &-aboutName {
    flex-shrink: 0;
    width: 130px;
    color: #975900;
    font-size: 1.4rem;
    letter-spacing: 0.078em;

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
    }
  }

  &-aboutText {
    letter-spacing: 0.078em;
    line-height: 1.7;

    @media screen and (max-width: 767px) {
      margin-top: 5px;
      font-size: 1.3rem;
    }
  }

  &-detail {
    width: 890px;
    margin: 140px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 105px auto 0;
      padding: 0 $a-paddingX-md;
    }
  }

  &-detailTitle {
    width: 120px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 90px;
    }
  }

  &-detailContent {
    position: relative;
    margin-top: 40px;
    padding: 0 15px;
    background-image: url("/komugi/assets/images/recruit/recruit_border_middle.png");
    background-size: 890px;
    background-repeat: repeat;

    @media screen and (max-width: 767px) {
      background-size: 100%;
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 75px;
      background-size: cover;
      content: "";

      @media screen and (max-width: 767px) {
        height: 10px;
        padding: 0;
      }
    }

    &::before {
      top: -10px;
      background-image: url("/komugi/assets/images/recruit/recruit_border_top.png");
    }

    &::after {
      bottom: -10px;
      background-image: url("/komugi/assets/images/recruit/recruit_border_bottom.png");

      @media screen and (max-width: 767px) {
        background-position: bottom;
      }
    }

    .d-recruit-aboutList + .d-recruit-aboutList {
      border-top: 1px dotted #e8ddc9;
    }
  }

  &-note {
    margin-top: 55px;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.078em;

    @media screen and (max-width: 767px) {
      margin-top: 45px;
      font-size: 1.1rem;
    }
  }

  &-contact {
    width: 850px;
    margin: 50px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 30px auto 0;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-contactList {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &-contactItem {
    display: flex;
    align-items: center;
    width: 400px;
    height: 95px;
    border-radius: 6px;
    background-color: #fff3df;

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 70px;
      border-radius: 3px;
    }

    &--tel {
      @media screen and (max-width: 767px) {
        background-color: $a-color-orange;
      }
    }

    & + & {
      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }

  &-contactTelIcon {
    width: 55px;
    margin: 0 30px 0 25px;

    @media screen and (max-width: 767px) {
      width: 42px;
      margin: 0 20px 0 18px;
    }
  }

  &-contactNumber {
    margin-top: 5px;
    color: $a-color-orange;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      color: #fff;
      font-size: 1.8rem;
    }
  }

  &-contactNote {
    margin: 5px 0 0 15px;
    font-size: 1.2rem;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      margin: 5px 0 0 5px;
      font-size: 0.9rem;
    }
  }

  &-contactMailIcon {
    width: 32px;
    margin: 0 30px 0 35px;

    @media screen and (max-width: 767px) {
      width: 24px;
      margin: 0 25px;
    }
  }

  &-contactMail {
    color: $a-color-orange;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-decoration: underline;

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }
  }
}
