.d-season {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;

  @media screen and (max-width: 767px) {
  }
  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-copy {
    position: relative;
    width: 550px;
    margin: 95px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 75px;
    }
  }

  &-copyTitle {
    display: block;
    width: 507px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 288px;
    }
  }

  &-copyText {
    margin: 45px auto 0;

    @media screen and (max-width: 767px) {
      margin-top: 35px;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-copyIcon01 {
    position: absolute;
    left: -140px;
    bottom: -55px;
    width: 74px;
    animation: zukin 3s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      top: 35px;
      right: 15px;
      bottom: auto;
      left: auto;
      width: 30px;
    }
  }

  &-copyIcon02 {
    position: absolute;
    left: -100px;
    bottom: 20px;
    width: 39px;
    animation: zukin 3s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      top: 15px;
      right: 0;
      bottom: auto;
      left: auto;
      width: 20px;
    }
  }

  &-copyIcon03 {
    position: absolute;
    left: -180px;
    bottom: 15px;
    width: 55px;
    animation: zukin 3s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      top: 0;
      right: 30px;
      bottom: auto;
      left: auto;
      width: 28px;
    }
  }

  &-copyIcon04 {
    position: absolute;
    right: -90px;
    bottom: -15px;
    width: 41px;
    animation: zukin 3s 1s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      top: 15px;
      left: 0;
      width: 22px;
    }
  }

  &-copyIcon05 {
    position: absolute;
    right: -170px;
    bottom: 5px;
    width: 70px;
    animation: zukin 3s 1s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      top: 0;
      left: 26px;
      width: 34px;
    }
  }

  &-copyIcon06 {
    position: absolute;
    right: -140px;
    bottom: -55px;
    width: 61px;
    animation: zukin 3s 1s ease-in-out infinite both;

    @media screen and (max-width: 767px) {
      top: 35px;
      left: 15px;
      width: 28px;
    }
  }

  &-login {
    width: 530px;
    margin: 55px auto 0;
    padding: 25px 0 30px;
    background-image: url("/komugi/assets/images/season/season_bg.png");
    border-radius: 10px;

    @media screen and (max-width: 767px) {
      width: 84%;
      margin: 45px auto 0;
    }

    > p {
      text-align: center;

      a {
        text-decoration: underline;
      }
    }
  }

  &-loginTitle {
    font-family: $a-font-noto;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }

  &-loginBtn {
    display: block;
    width: 254px;
    height: 54px;
    margin: 10px auto 0;
    border: none;
    background-image: url("/komugi/assets/images/season/season_btn02.png");
    background-size: contain;
    color: #fff;
    font-family: $a-font-noto;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 54px;

    @media screen and (max-width: 767px) {
      width: 220px;
    }
  }

  &-icon {
    position: relative;
    width: 68%;
    margin: 35px auto 0;
  }

  &-calendar {
    width: 800px;
    margin: 145px auto 0;

    @media screen and (max-width: 767px) {
      width: 92%;
    }

    .polite {
      color: $a-color-brown;
      font-weight: bold;
    }

    .eo-fullcalendar .fc-view>table>thead {
      background: $a-color-orange;
      color: #fff;
      font-family: $a-font-noto;
      font-size: 2.4rem;
      font-weight: 500;

      .fc-sat {
        background-color: #7fbce0 !important;

        @media screen and (max-width: 767px) {
        }
      }
      .fc-sun {
        background-color: #e19aba !important;

        @media screen and (max-width: 767px) {
        }
      }

      @media screen and (max-width: 767px) {
      }
    }

    .fc-unthemed thead {
      border-color: #e8ddc9;

      @media screen and (max-width: 767px) {
      }
    }

    .eo-fullcalendar-reset .fc-view-container th {
      padding: 5px 0 !important;

      @media screen and (max-width: 767px) {
      }
    }

    .fc-ltr .fc-basic-view .fc-day-number {
      padding: 0 10px !important;
      color: $a-color-orange;
      font-family: $a-font-noto;
      font-size: 2rem;
      font-weight: 500;
      text-align: left;

      @media screen and (max-width: 767px) {
        font-size: 1.4rem;
      }
    }

    .fc-event[href] {
      pointer-events: none;
      background: none !important;
      border: none !important;
      color: #6a3c24 !important;
      font-weight: normal;

      @media screen and (max-width: 767px) {
      }
    }

    .fc-row .fc-content-skeleton tbody td {
      padding: 0 5px !important;

      @media screen and (max-width: 767px) {
      }
    }

    .fc-basic-view tbody .fc-row {
      min-height: 115px;

      @media screen and (max-width: 767px) {
      }
    }

    .fc-button {
      width: 48px;
      height: 48px;
      background-size: 48px;
      background-color: transparent;
      border: none;
      box-shadow: none;
      cursor: pointer;
      transition: all 0.2s;

      .fc-icon {
        display: none;

        @media screen and (max-width: 767px) {
        }
      }

      @media screen and (max-width: 767px) {
      }
    }

    .fc-prev-button {
      background-image: url("/komugi/assets/images/btn02.png");
      &:hover {
        background-image: url("/komugi/assets/images/btn02_hover.png");
        background-position: 0;

        @media screen and (max-width: 767px) {
        }
      }
    }

    .fc-next-button {
      background-image: url("/komugi/assets/images/btn.png");
      &:hover {
        background-image: url("/komugi/assets/images/btn_hover.png");
        background-position: 0;

        @media screen and (max-width: 767px) {
        }
      }

      @media screen and (max-width: 767px) {
      }
    }

    .fc-today-button {
      display: none;

      @media screen and (max-width: 767px) {
      }
    }

    .fc-status-hover {
      background-position: center !important;

      @media screen and (max-width: 767px) {
      }
    }

  }

  &-calendarTitle {
    color: $a-color-brown;
    font-family: $a-font-noto;
    font-size: 2.6rem;
    font-weight: 500;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }

  &-photo {
    margin-top: 160px;

    @media screen and (max-width: 767px) {
      margin-top: 80px;
    }
  }

  &-photoTitle {
    position: relative;
    width: 139px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 110px;
    }
  }

  &-photoText {
    width: 500px;
    margin: 60px auto 0;
    font-family: $a-font-noto;
    font-size: 1.4rem;
    line-height: 2.5;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 40px;
      padding: 0 $a-paddingX-xl;
      line-height: 1.7;
    }
  }

  &-photoIcon01 {
    position: absolute;
    top: -10px;
    left: -65px;
    width: 47px;

    @media screen and (max-width: 767px) {
      top: -2px;
      width: 28px;
      left: -38px;
    }
  }

  &-photoIcon02 {
    position: absolute;
    top: -10px;
    right: -65px;
    width: 43px;

    @media screen and (max-width: 767px) {
      top: -2px;
      width: 26px;
      right: -40px;
    }
  }

  &-photoList {
    width: 616px;
    margin: 55px auto 0;

    @media screen and (max-width: 767px) {
      width: 84vw;
      margin-top: 45px;
    }
  }

  &-photoItem {
    width: 616px;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      width: 84vw;
    }
  }

  &-photoImg {
    width: 616px;
    border-right: 6px;

    @media screen and (max-width: 767px) {
      width: 84vw;
    }
  }

  &-photoNote {
    margin-top: 15px;
    color: $a-color-brown;
    font-family: $a-font-noto;
    font-size: 1.4rem;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-top: 10px;
      font-size: 1.3rem;
    }
  }

  &-photoNavList {
    position: relative;
    width: 790px;
    margin: 55px auto 0;

    @media screen and (max-width: 767px) {
      width: 84vw;
      margin-top: 25px;
    }
  }

  &-photoNavItem {
    width: 240px;
    padding: 0 15px;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      width: 100px;
      padding: 0 5px;
    }
  }

  &-photoNavImg {
    width: 240px;
    border-right: 3px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-photoNavIcon {
    position: absolute;
    top: 45px;
    width: 60px;
    height: 60px;
    background-size: 60px;
    cursor: pointer;
    transition: all 0.2s;

    @media screen and (max-width: 767px) {
      top: 30%;
      width: 25px;
      height: 25px;
      background-size: 25px;
    }

    &.is-prev {
      left: -90px;
      background-image: url("/komugi/assets/images/btn02.png");

      @media screen and (max-width: 767px) {
        left: -10px;
        z-index: 1;
      }

      &:hover {
        background-image: url("/komugi/assets/images/btn02_hover.png");
        opacity: 1;
      }
    }
    &.is-next {
      right: -90px;
      background-image: url("/komugi/assets/images/btn.png");

      @media screen and (max-width: 767px) {
        right: -10px;
      }

      &:hover {
        background-image: url("/komugi/assets/images/btn_hover.png");
        opacity: 1;
      }
    }
  }
}

// スライダー
.slick-current {
  opacity: 0.6;
}

// ログインフォーム周り
#wpmem_reg {
  display: none;
}

#wpmem_login {
  legend {
    display: none;
  }

  fieldset {
    width: 355px;
    margin: 15px auto 0 !important;

    @media screen and (max-width: 767px) {
      width: 220px;
    }
  }

  .button_div,
  .div_text {
    width: 100% !important;
  }

  .link-text-register {
    display: none !important;
  }

  label {
    font-size: 1.4rem !important;
  }

  input[type="text"],
  input[type="password"] {
    padding: 4px 10px 4px !important;
    border: 1px solid #e8ddc9 !important;
  }

  input.buttons {
    display: block;
    width: 254px;
    height: 54px;
    margin: 10px auto 0;
    border: none;
    background-image: url("/komugi/assets/images/season/season_btn.png");
    background-size: contain;
    color: #fff;
    font-family: $a-font-noto;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: 220px;
    }
  }
}
