.d-support {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-copy {
    margin-top: 95px;

    @media screen and (max-width: 767px) {
      margin-top: 75px;
    }
  }

  &-copyText {
    font-family: $a-font-noto;
    text-align: center;

    @media screen and (max-width: 767px) {
      padding: 0 $a-paddingX-xl;
    }
  }

  &-once {
    width: 860px;
    margin: 95px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 75px auto 0;
    }
  }

  &-onceTitle {
    position: relative;
    width: 214px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 160px;
    }
  }

  &-onceIcon01 {
    position: absolute;
    top: -5px;
    right: -105px;
    width: 68px;

    @media screen and (max-width: 767px) {
      top: 5px;
      right: -52px;
      width: 40px;
    }
  }

  &-onceInner {
    display: flex;
    margin-top: 55px;

    @media screen and (max-width: 767px) {
      display: block;
      margin-top: 35px;
    }
  }

  &-onceImgWrap {
    flex-shrink: 0;
    width: 385px;
    margin-right: 80px;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: 0 $a-paddingX-md;
      margin: 35px 0 0;
    }
  }

  &-onceImg {
    @media screen and (max-width: 767px) {
      width: 47%;
    }

    & + & {
      margin-top: 30px;

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }
  }

  &-onceText {
    font-size: 1.3rem;
    line-height: 2.36;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 0 $a-paddingX-xl;
      line-height: 1.7;
    }
  }

  &-target {
    margin-top: 45px;
  }

  &-targetTitle {
    @include heading-brown;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &-targetInfo {
    margin-top: 10px;

    @media screen and (max-width: 767px) {
      padding: 0 $a-paddingX-xl;
    }
  }

  &-targetList {
    width: 390px;
    height: 153px;
    padding: 22px 15px;
    background-image: url("/komugi/assets/images/support/support_bg01.png");
    background-size: contain;
    border-radius: 3px;

    @media screen and (max-width: 767px) {
      width: 100%;
      height: auto;
      padding: 20px 15px;
      background-size: cover;
    }
  }

  &-targetItem {
    display: flex;
    align-items: center;
    font-size: 1.3rem;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
    }

    & + & {
      margin-top: 20px;

      @media screen and (max-width: 767px) {
        margin-top: 15px;
      }
    }

    &::before {
      flex-shrink: 0;
      display: block;
      width: 41px;
      height: 41px;
      margin-right: 12px;
      background-size: 41px;
      content: "";

      @media screen and (max-width: 767px) {
        width: 20px;
        height: 20px;
        background-size: 20px;
      }
    }

    &:nth-child(1) {
      &::before {
        background-image: url("/komugi/assets/images/support/support_number01.png");
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url("/komugi/assets/images/support/support_number02.png");
      }
    }
  }

  &-targetNote {
    margin-top: 10px;
    color: $a-color-brown;
    font-size: 1.1rem;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  &-onceListWrap {
    margin: 30px auto;

    @media screen and (max-width: 767px) {
      padding: 0 $a-paddingX-md;
    }

    &::before,
    &::after {
      display: block;
      width: 100%;
      height: 1px;
      background-image: url("/komugi/assets/images/support/support_dot.png");
      background-size: contain;
      content: "";
    }

    &::before {
      padding-bottom: 25px;

      @media screen and (max-width: 767px) {
        padding-bottom: 15px;
      }
    }

    &::after {
      padding-top: 25px;
      background-position: bottom;

      @media screen and (max-width: 767px) {
        padding-top: 15px;
      }
    }
  }

  &-onceList {
    display: flex;
    align-items: center;

    & + & {
      margin-top: 15px;

      @media screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }
  }

  &-onceItemTitle {
    width: 98px;
    margin-right: 12px;
    border-radius: 3px;
    background-color: #e8ddc9;
    color: $a-color-brown;
    font-size: 1.2rem;
    line-height: 25px;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: 74px;
      margin-right: 10px;
      font-size: 0.9rem;
      line-height: 18px;
    }
  }

  &-onceItemText {
    font-size: 1.4rem;

    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
    }
  }

  &-pdfItem {
    @media screen and (max-width: 767px) {
      width: 77.4%;
      margin: 0 auto;
    }

    &.is-child {
      float: right;
      width: 390px;
      margin-top: 45px;

      @media screen and (max-width: 767px) {
        float: none;
        width: 100%;
        margin: 30px auto 0;
      }
    }
  }

  &-child {
    position: relative;
    width: 860px;
    margin: 130px auto 0;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 110px auto 0;
      padding: 0 $a-paddingX-xl;
    }
  }

  &-childTitle {
    width: 164px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 122px;
    }
  }

  &-childInner {
    display: flex;
    align-items: flex-start;
    margin-top: 65px;

    @media screen and (max-width: 767px) {
      display: block;
      margin-top: 35px;
    }
  }

  &-childImg {
    width: 385px;
    margin-right: 80px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &-childInfoTitle {
    width: 328px;

    @media screen and (max-width: 767px) {
      width: 246px;
      margin: 35px auto 0;
    }
  }

  &-childInfoText {
    margin-top: 40px;
    font-size: 1.4rem;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
      font-size: 1.3rem;
    }
  }

  &-childListWrap {
    display: flex;
    width: 100%;
    height: 137px;
    margin-top: 40px;
    padding: 25px 50px;
    background-image: url("/komugi/assets/images/support/support_bg02.png");
    background-size: contain;

    @media screen and (max-width: 767px) {
      display: block;
      height: auto;
      padding: 18px 0;
      background-image: url("/komugi/assets/images/bg.png");
      background-size: cover;
      border-radius: 3px;
    }
  }

  &-childList {
    @media screen and (max-width: 767px) {
      padding: 0 18px;
    }

    & + & {
      margin-left: 115px;

      @media screen and (max-width: 767px) {
        margin-left: 0;
      }
    }

    &:nth-child(1) {
      .d-support-childItemTitle::before {
        margin-right: 12px;
        background-image: url("/komugi/assets/images/icon/icon_hiyoko.png");

        @media screen and (max-width: 767px) {
          margin-right: 8px;
        }
      }
    }

    &:nth-child(2) {
      @media screen and (max-width: 767px) {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px dotted $a-color-brown;
      }

      .d-support-childItemTitle::before {
        margin-right: 16px;
        background-image: url("/komugi/assets/images/icon/icon_apple.png");

        @media screen and (max-width: 767px) {
          margin-right: 10px;
        }
      }
    }
  }

  &-childItemTitle {
    @include heading-brown;
    display: flex;
    align-items: center;

    &::before {
      display: block;
      width: 30px;
      height: 27px;
      background-size: contain;
      background-size: 30px 27px;
      content: "";

      @media screen and (max-width: 767px) {
        width: 18px;
        height: 16px;
        background-size: 18px 16px;
      }
    }
  }

  &-childItemText {
    width: 325px;
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 2;

    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: 1.3rem;
      line-height: 1.7;
      letter-spacing: -0.05em;
    }
  }

  &-childIcon01 {
    position: absolute;
    top: 75px;
    right: 0;
    width: 73px;
    animation: zukin ease-in-out 3s infinite;

    @media screen and (max-width: 767px) {
      top: 0;
      right: 11.3%;
      width: 46px;
    }
  }
}
