.d-top {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */

  & {
    animation: fadeIn 1s ease-in-out 0s 1 normal;

    @keyframes fadeIn {
      0% {opacity: 0}
      100% {opacity: 1}
    }
  }

  &-sliderWrap {
    position: relative;
    height: 580px;

    @media screen and (max-width: 767px) {
      height: 290px;
      margin-top: 70px;
    }
  }

  &-sliderText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 960px;
    height: 580px;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
      width: 100%;
      height: 290px;
      padding: 0 $a-paddingX-lg;
    }
  }

  &-sliderTextImg01 {
    margin: 262px 0 0 35px;
    width: 40px;

    @media screen and (max-width: 767px) {
      width: 24px;
      margin: 30px 0 0;
    }
  }

  &-sliderTextImg02 {
    margin: 262px 0 0 20px;
    width:40px;

    @media screen and (max-width: 767px) {
      width: 24px;
      margin: 30px 0 0;
    }
  }

  &-sliderItem {
    height: 580px;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 767px) {
      height: 290px;
    }
  }

  &-news {
    position: relative;
    background: url("/komugi/assets/images/bg_brown.jpg") center;
    text-align: center;

    @media screen and (max-width: 767px) {
      padding: 0 $a-paddingX-md;
    }
  }

  &-newsTitle {
    position: relative;
    width: 219px;
    margin: 45px auto 0;
    font-family: "Hannari";
    font-size: 2.4rem;
    line-height: 1;

    @media screen and (max-width: 767px) {
      width: 150px;
      margin-top: 25px;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 29px;
      height: 31px;
      background-size: cover;
      content: "";

      @media screen and (max-width: 767px) {
        width: 20px;
        height: 18px;
      }
    }
    &::before {
      top: 2px;
      left: -40px;
      background-image: url("/komugi/assets/images/icon/icon_leaf01.png");

      @media screen and (max-width: 767px) {
        top: 5px;
        left: -25px;
      }
    }
    &::after {
      top: 0;
      right: -34px;
      background-image: url("/komugi/assets/images/icon/icon_leaf02.png");


      @media screen and (max-width: 767px) {
        top: 2px;
        right: -20px;
      }
    }
  }

  &-newsList {
    position: relative;
    width: 840px;
    margin: 30px auto 65px;
    padding: 10px 40px 10px 35px;
    background-color: #fff;
    border-radius: 6px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 20px auto 40px;
      padding: 0 15px;
    }

    &::before {
      position: absolute;
      right: -78px;
      bottom: -125px;
      width: 113px;
      height: 149px;
      display: block;
      content: "";
      background-image: url("/komugi/assets/images/icon/icon_zukin.png");
      background-size: contain;
      animation: zukin ease-in-out 3s infinite;

      @media screen and (max-width: 767px) {
        right: -20px;
        bottom: -60px;
        width: 61px;
        height: 82px;
      }
    }
  }

  &-newsItem {
    position: relative;

    & + & {
      &::before {
        display: block;
        width: 100%;
        height: 1px;
        background: url("/komugi/assets/images/dot_line.png");
        content: "";
      }
    }
  }

  &-newsAnchor {
    display: flex;
    align-items: center;
    padding: 15px 24px;


    @media screen and (max-width: 767px) {
      display: block;
      padding: 10px 0 10px 12px;
      text-align: left;
    }

    &::before {
      @include arrow;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      @media screen and (max-width: 767px) {
        top: 18px;
        bottom: auto;
      }
    }

    &:hover {
      .d-top-newsText {
        text-decoration: none;
      }
    }
  }

  &-newsText {
    margin-left: 15px;
    color: $a-color-link;
    text-decoration: underline;

    @media screen and (max-width: 767px) {
      margin: 4px 0 0 0;
      font-size: 1.3rem;
    }
  }

  &-newsDate {
    flex-shrink: 0;
    font-size: 1.6rem;

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
    }
  }

  &-newsTag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 20px;
    width: 64px;
    height: 24px;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.08em;

    @media screen and (max-width: 767px) {
      display: inline-block;
      width: 50px;
      height: auto;
      margin-left: 5px;
      border-radius: 2px;
      font-size: 0.8rem;
      text-align: center;
    }

    &--pdf {
      background-color: $a-color-pink;
    }

    &--blog {
      background-color: $a-color-orange;
    }

    &--recruit {
      background-color: $a-color-blue;
    }

    &--other {
      background-color: $a-color-green;
    }
  }

  &-flower {
    background-image: url("/komugi/assets/images/bg_flower.jpg");
    background-position: center bottom;
    background-size: contain;

    @media screen and (max-width: 767px) {
      background-image: url("/komugi/assets/images/bg_flower02.jpg");
    }
  }

  &-about {
    position: relative;
    width: 940px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-aboutTitle {
    position: relative;
    width: 124px;
    margin: 95px auto 0;
    line-height: 1;

    @media screen and (max-width: 767px) {
      width: 80px;
      margin: 50px auto 0;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
      background-size: cover;
      content: "";
    }

    &::before {
      top: -15px;
      left: -62px;
      width: 42px;
      height: 58px;
      background-image: url("/komugi/assets/images/icon/icon_flower.png");

      @media screen and (max-width: 767px) {
        top: -5px;
        left: -45px;
        height: -40px;
        width: 25px;
        height: 35px;
      }
    }

    &::after {
      top: -2px;
      right: -62px;
      width: 39px;
      height: 33px;
      background-image: url("/komugi/assets/images/icon/icon_bird.png");

      @media screen and (max-width: 767px) {
        top: 2px;
        right: -35px;
        width: 23px;
        height: 20px;
      }
    }
  }

  &-aboutList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px auto 0;

    @media screen and (max-width: 767px) {
      margin: 40px auto 0;
    }
  }

  &-aboutItem {
    width: 265px;
    text-align: center;

    // PC
    @media screen and (min-width: 768px) {
      &:nth-child(1),
      &:nth-child(2) {
        margin-right: 70px;
      }
      &:nth-child(4) {
        margin-top: 50px;
        margin-right: 90px;
      }
      &:nth-child(5) {
        margin-top: 50px;
      }
    }

    // SP
    @media screen and (max-width: 767px) {
      width: 40%;

      &:nth-child(1) {
        order: 1;
        margin-right: 9%;
      }

      &:nth-child(2) {
        order: 3;
        width: 100%;
        margin-top: 25px;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 4;
        margin: 25px 9% 0 0;
      }

      &:nth-child(5) {
        order: 5;
        margin-top: 25px;
      }
    }
  }

  &-aboutImgWrap {
    position: relative;

    @media screen and (max-width: 767px) {
      width: 40vw;
      margin: 0 auto;
    }
  }

  &-aboutImgIcon {
    position: absolute;
    right: 0;
    bottom: -2px;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("/komugi/assets/images/btn.png");
    background-size: 60px;
    transition: all 0.2s;

    @media screen and (max-width: 767px) {
      width: 33px;
      height: 33px;
      background-size: 33px;
    }
  }

  &-aboutText {
    @include heading-brown;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      margin-top: 10px;
      font-size: 1.4rem;
    }
  }

  &-aboutIcon01 {
    position: absolute;
    left: 40%;
    bottom: -105px;
    width: 60px;
    transform-origin: bottom;
    animation: hand01 2.5s infinite;

    @media screen and (max-width: 767px) {
      bottom: -90px;
      width: 30px;
    }
  }

  &-aboutIcon02 {
    position: absolute;
    left: 50%;
    bottom: -105px;
    width: 60px;
    transform-origin: bottom;
    transform-origin: bottom;
    animation: hand02 2.5s infinite;

    @media screen and (max-width: 767px) {
      bottom: -90px;
      width: 30px;
    }
  }

  &-aboutAnchor {
    display: block;

    &:hover {
      opacity: 1;

      .d-top-aboutImgIcon {
        background-image: url("/komugi/assets/images/btn_hover.png");
      }

      .d-top-aboutText {
        color: $a-color-orange;
      }
    }
  }

  &-policy {
    position: relative;
    width: 632px;
    height: 632px;
    margin: 340px auto;
    padding-top: 160px;
    background-image: url("/komugi/assets/images/top/bg_policy.png");
    background-size: contain;

    @media screen and (max-width: 767px) {
      width: 92%;
      height: 92vw;
      margin: 280px auto 65px;
      padding-top: 18.666666667vw;
    }

    &::before {
      position: absolute;
      top: -70px;
      left: 0;
      right: 0;
      display: block;
      width: 69px;
      height: 149px;
      margin: auto;
      background-image: url("/komugi/assets/images/icon/icon_mugi.png");
      background-size: contain;
      content: "";
      transform-origin: bottom;
      animation: zukin ease-in-out 3s infinite;

      @media screen and (max-width: 767px) {
        top: -35px;
        width: 34px;
        height: 74px;
      }
    }
  }

  &-policyTextImg {
    position: absolute;
    top: 160px;
    right: 108px;
    width: 116px;

    @media screen and (max-width: 767px) {
      top: 19.2vw;
      right: 13.333333333vw;
      width: 21.333333333vw;
    }
  }

  &-policyList {
    display: flex;
    flex-direction: row-reverse;
    width: 230px;
    margin-left: 110px;
    counter-reset: item;

    @media screen and (max-width: 767px) {
      width: 34.666666667vw;
      margin-left: 17.333333333vw;
    }
  }

  &-policyItem {
    color: $a-color-brown;
    font-family: $a-font-serif;
    font-size: 1.6rem;

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
    }

    &::before {
      display: block;
      height: 27px;
      margin: 5px auto 35px;
      background-size: contain;
      content: "";


      @media screen and (max-width: 767px) {
        margin: 2.666666667vw auto 1.333333333vw;
      }
    }

    &:nth-child(1) {
      width: 55px;

      @media screen and (max-width: 767px) {
        width: 45px;
      }

      &::before {
        width: 14px;
        background-image: url("/komugi/assets/images/top/policy01.png");

        @media screen and (max-width: 767px) {
          width: 8px;
        }
      }
    }

    &:nth-child(2) {
      width: 55px;

      @media screen and (max-width: 767px) {
        width: 45px;
      }

      &::before {
        width: 19px;
        background-image: url("/komugi/assets/images/top/policy02.png");

        @media screen and (max-width: 767px) {
          width: 11px;
        }
      }
    }

    &:nth-child(3) {
      &::before {
        width: 19px;
        background-image: url("/komugi/assets/images/top/policy03.png");

        @media screen and (max-width: 767px) {
          width: 12px;
        }
      }
    }

    & + & {
      margin-right: 40px;

      @media screen and (max-width: 767px) {
        margin-right: 5.333333333vw;
      }
    }
  }

  &-policyItemInner {
    writing-mode: vertical-rl;
  }

  &-policyIcon01 {
    display: none;
    position: absolute;
    bottom: -110px;
    right: 0;
    width: 82px;
    animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate;
  }

  &-policyIcon02 {
    display: none;
    position: absolute;
    bottom: -234px;
    right: -104px;
    width: 104px;
    animation: zukin ease-in-out 3s infinite;
  }

  &-other {
    background: url("/komugi/assets/images/bg_brown.jpg") center;
  }

  &-otherList {
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;
    padding: 120px 0 0;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      padding: 60px 0 180px;
    }
  }

  &-otherItem {
    width: 385px;

    @media screen and (max-width: 767px) {
      width: 100%;
      text-align: center;

      & + & {
        margin-top: 55px;
      }
    }
  }

  &-otherAnchor {
    &:hover {
      .d-top-otherImgIcon {
        background-image: url("/komugi/assets/images/btn_hover.png");
      }

      .d-top-otherText,
      .d-top-otherNote {
        opacity: 0.7;
      }
    }
  }

  &-otherImgWrap {
    position: relative;

    @media screen and (max-width: 767px) {
      width: 230px;
      margin: 0 auto;
    }
  }

  &-otherImgIcon {
    position: absolute;
    right: -15px;
    bottom: -15px;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("/komugi/assets/images/btn.png");
    background-size: 60px;
    transition: 0.2s;

    @media screen and (max-width: 767px) {
      right: -8px;
      bottom: -8px;
      width: 36px;
      height: 36px;
      background-size: 36px;
    }
  }

  &-otherText {
    margin-top: 35px;
    text-align: center;
    transition: 0.2s;

    @media screen and (max-width: 767px) {
      margin-top: 15px;
    }

    img {
      height: 27px;

      @media screen and (max-width: 767px) {
        height: 18px;
      }
    }
  }

  &-otherNote {
    margin-top: 10px;
    text-align: center;
    transition: 0.2s;

    @media screen and (max-width: 767px) {
      margin-top: 5px;
      font-size: 1.2rem;
      color: #666;
    }
  }

  &-recruit {
    margin: 80px auto 120px;
    width: 800px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-recruitAnchor {
    position: relative;
    display: flex;
    height: 193px;
    padding: 18px;
    background-image: url("/komugi/assets/images/top/bg_recruit.png");
    background-size: cover;
    &:hover {
      opacity: 1;

      .d-top-recruitBtn {
        background-image: url("/komugi/assets/images/btn_hover.png");
      }

      .d-top-recruitTitle,
      .d-top-recruitText {
        opacity: 0.7;
      }
    }
  }

  &-recruitImg {
    width: 246px;
  }

  &-recruitTitle {
    width: 131px;
    margin: 45px 0 0 170px;
    transition: 0.2s;
  }

  &-recruitText {
    margin: 10px 0 0 85px;
    transition: 0.2s;
  }

  &-recruitBtn {
    position: absolute;
    top: 68px;
    right: 30px;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("/komugi/assets/images/btn.png");
    background-size: 60px;
    transition: 0.2s;
  }
}
