.c-footer {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */
  @include animation;

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  & {
    position: relative;
    border-top: 1px solid #e8ddc9;

    @media screen and (max-width: 767px) {
    }
  }

  &-topBack {
    position: absolute;
    top: 40px;
    right: 50px;
    text-align: center;

    @media screen and (max-width: 767px) {
      top: -120px;
      left: 0;
      right: 0;
      width: 65px;
      margin: auto;
    }
  }

  &-topBackImg {
    width: 55px;
    transform-origin: bottom;
    animation: hand01 ease-in-out 3s infinite;

    @media screen and (max-width: 767px) {
      width: 36px;
    }
  }

  &-topBackText {
    display: block;
    width: 65px;
    margin-top: 10px;

    @media screen and (max-width: 767px) {
    }
  }

  &-nav {
    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      padding: 0 $a-paddingX-lg;
    }
  }


  &-navList {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &-navItem {
    position: relative;
    font-family: $a-font-serif;

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }

    & + & {
      margin-left: 70px;

      @media screen and (max-width: 767px) {
        margin-top: 36px;
        margin-left: 0;
      }
    }

    &::before {
      position: absolute;
      top: 8px;
      left: -23px;
      display: block;
      background: url("/komugi/assets/images/footer_menu_current.png");
      background-size: cover;
      width: 9px;
      height: 9px;
      content: "";
      opacity: 0;
      transition: 0.2s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &-subnavList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 768px;
    height: 46px;
    margin: 25px auto 0;
    border-radius: 6px;
    background-color: #fbf6ec;

    @media screen and (max-width: 767px) {
      display: none;
    }

    &::before {
      position: absolute;
      top: -28px;
      left: 160px;
      display: block;
      border-top: 14px solid transparent;
      border-bottom: 14px solid #fbf6ec;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: "";
    }
  }

  &-subnavItem {
    height: 18px;
    color: $a-color-brown;
    font-family: $a-font-noto;
    font-size: 1.2rem;

    @media screen and (max-width: 767px) {
    }

    & + & {
      margin-left: 30px;
      padding-left: 30px;
      border-left: 1px solid #e8ddc9;
    }
  }

  &-about {
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
      margin: 30px 0 0 35px;
    }
  }

  &-aboutTitle {
    font-family: $a-font-serif;
    font-size: 1.2rem;
  }

  &-aboutList {
    margin-left: 6px;
    border-left: 1px solid #e8ddc9;
  }

  &-aboutItem {
    position: relative;
    padding: 8px 5px 8px 25px;
    color: $a-color-brown;
    font-family: $a-font-sans;
    font-size: 1.1rem;

    a {
      display: block;
    }

    &::before {
      position: absolute;
      top: 17px;
      left: 10px;
      display: block;
      width: 6px;
      height: 6px;
      border-top: 2px solid #e8ddc9;
      border-right: 2px solid #e8ddc9;
      transform: rotate(45deg);
      content: "";
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 60px auto;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      width: 100%;
      padding: 0 $a-paddingX-md;
      margin: 40px auto 0;
    }
  }

  &-contentInner {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 1px solid #e8ddc9;
    }
  }

  &-info {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  &-infoMap {
    flex-shrink: 0;
    width: 280px;

    @media screen and (max-width: 767px) {
      width: 160px;
    }
  }

  &-infoInner {
    margin-left: 35px;

    @media screen and (max-width: 767px) {
      margin-left: 15px;
    }
  }

  &-infoLogo {
    width: 297px;

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 160px;
    }
  }

  &-infoAddress {
    margin-top: 15px;
    font-size: 1.4rem;
    line-height: 1.5;

    @media screen and (max-width: 767px) {
      margin-top: 10px;
      font-size: 0.8rem;
    }
  }

  &-infoMail {
    margin-top: 5px;
    font-size: 1.4rem;

    @media screen and (max-width: 767px) {
      font-size: 0.8rem;
    }

    a {
      color: $a-color-link;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-infoTel {
    margin-top: 10px;
    color: $a-color-brown;
    font-size: 1.8rem;
    font-weight: bold;

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }

  &-link {
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
      text-align: center;
    }

    &::before {
      display: block;
      width: 100%;
      height: 1px;
      background: url("/komugi/assets/images/dot_line.png");
      content: "";
    }
  }

  &-linkInner {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }

    > a {
      flex-shrink: 0;
    }
  }

  &-linkLogo {
    width: 201px;

    @media screen and (max-width: 767px) {
      width: 120px;
    }
  }

  &-linkList {
    display: flex;

    @media screen and (max-width: 767px) {
      margin-left: 25px;
      text-align: left;
    }
  }

  &-linkItem {
    &::before {
      @include arrow;
      border-right: 4px solid transparent;

      @media screen and (max-width: 767px) {
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-right: none;
        border-left: 4px solid #ffac2a;
      }
    }

    & + & {
      margin-left: 22px;

      @media screen and (max-width: 767px) {
        margin-left: 10px;
      }
    }

    a {
      color: $a-color-link;
      font-size: 1.2rem;
      text-decoration: underline;
      letter-spacing: 0.075em;

      @media screen and (max-width: 767px) {
        font-size: 0.7rem;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-linkCopy {
    color: #b6966d;
    font-size: 1rem;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      display: block;
      margin: 20px 0;
    }
  }

  &-pdf {
    width: 310px;
    padding: 30px 20px;
    background: url("/komugi/assets/images/bg_brown.jpg");

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-pdfList {
  }

  &-pdfItem {
    font-size: 1.4rem;
    letter-spacing: 0.035em;

    & + & {
      margin-top: 20px;
    }

    .c-pdf-tag {
      margin: 0 5px 0 12px;
    }
  }

  // 下層ページ
  &--under {
    .c-footer-logo {
      display: block;
      width: 218px;
      margin: 40px auto 0;

      @media screen and (max-width: 767px) {
        width: 142px;
      }
    }

    .c-footer-content {
      margin: 45px auto;

      @media screen and (max-width: 767px) {
        margin: 30px auto 0;
      }
    }

    .c-footer-contentInner {
      width: 100%;

      @media screen and (max-width: 767px) {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }

    .c-footer-link {
      position: relative;

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }

    .c-footer-linkInner {
      justify-content: flex-start;
    }

    .c-footer-linkList {
      margin-left: 25px;
    }

    .c-footer-linkCopy {
      position: absolute;
      top: 25px;
      right: 0;

      @media screen and (max-width: 767px) {
        position: static;
      }
    }
  }
}
