.c-header {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  & {
    position: relative;
    width: 960px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-logoAnchor {
    &:hover {
      opacity: 1;
    }
  }

  &-logo {
    position: absolute;
    left: -25px;
    top: 20px;
    z-index: 10;
    width: 243px;
    
    @media screen and (max-width: 767px) {
    }

    &--under {
      width: 190px;

      @media screen and (max-width: 767px) {
      }
    }
  }

  &-info {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 767px) {
    }
  }

  &-infoAddress {
    margin: 15px 10px 0 0;
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
    }
  }

  &-infoTel {
    position: relative;
    width: 280px;
    height: 54px;
    padding-top: 12px;
    background: url("/komugi/assets/images/bg_header_tel.png");
    background-size: cover;
    border-radius: 0 0 15px 15px;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 0.15em;
    text-align: center;

    @media screen and (max-width: 767px) {
    }
  }

  &-infoTelImg {
    width: 25px;
    height: 25px;
    margin: -4px 5px 0 0;

    @media screen and (max-width: 767px) {
    }
  }
}
