.c-headerSp {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  & {
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 10;
      height: 70px;
      margin: auto;
      background-color: #fff;
    }
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  &-logo {
    width: 196px;
  }

  &-open {
    position: absolute;
    top: 18px;
    right: 20px;
  }

  &-openIcon {
    width: 30px;
    text-align: center;
  }

  &-openIconBar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $a-color-orange--text;

    & + & {
      margin-top: 6px;
    }
  }

  &-openText {
    margin-top: 5px;
    font-size: 0.9rem;
    font-family: $a-font-serif;
    letter-spacing: -0.12em;
  }

  &.is-open {
    .c-headerSp-close {
      display: block;
    }

    .c-headerSp-open {
      display: none;
    }
  }

  &-close {
    display: none;
  }

  &-closeIcon {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 auto;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      border-top: 3px solid $a-color-orange--text;
      content: "";
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &-closeText {
    margin-top: 2px;
    font-size: 0.9rem;
    text-align: center;
    font-family: $a-font-serif;
    letter-spacing: -0.12em;
  }

  /* -----------------------------------------------------
    modifier
  ----------------------------------------------------- */
  &--top {
    position: absolute;

    .c-headerSp-logoTopAnchor {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 258px;
      margin: auto;
    }

    .c-headerSp-open {
      position: absolute;
      right: 15px;
    }

    .c-headerSp-logo {
      display: none;
    }

    &.is-open {
      .c-headerSp-logoTopAnchor {
        position: static;
      }

      .c-headerSp-logoTop {
        display: none;
      }

      .c-headerSp-logo {
        display: block;
      }
    }
  }

  &--common {
    display: none;
  }
}
