.c-navSp {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  & {
    display: none;

    @media screen and (max-width: 767px) {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 10;
      height: calc(100vh - 70px);
      margin: 70px auto 0;
      background-image: url("/komugi/assets/images/bg_nav.png");
      background-repeat: repeat;
      background-size: 80%;
      background-position: center;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  &-inner {
    padding: 0 $a-paddingX-md;
  }

  &-list {
    position: relative;
    margin-top: 30px;
    padding: 0 20px;
    background-color: #fff;
    background-image: url("/komugi/assets/images/border_middle.png");
    background-size: 100%;
    background-repeat: repeat;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 10px;
      background-size: cover;
      content: "";
    }

    &::before {
      top: -10px;
      background-image: url("/komugi/assets/images/border_top.png");
    }

    &::after {
      bottom: -10px;
      background-image: url("/komugi/assets/images/border_bottom.png");
      background-position: bottom;
    }
  }

  &-item {
    position: relative;
    padding: 15px 5px;
    font-family: $a-font-serif;
    font-size: 1.7rem;

    &--about {
      padding: 15px 5px 0;

      .c-navSp-itemIcon {
        transform: rotate(90deg);
      }
    }

    &:last-child {
      padding-bottom: 10px;
    }

    & + & {
      border-top: 1px solid #e8ddc9;
    }

    a {
      display: block;
    }
  }

  &-itemIcon {
    position: absolute;
    top: 17px;
    right: 5px;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("/komugi/assets/images/btn_hover.png");
    background-size: contain;
  }

  &-aboutList {
    margin: 15px 0 0 45px;
  }

  &-aboutItem {
    position: relative;
    padding: 15px 5px 15px 30px;
    border-top: 1px solid #e8ddc9;
    color: $a-color-brown;
    font-family: $a-font-sans;
    font-size: 1.4rem;

    a {
      display: block;
    }

    &::before {
      position: absolute;
      top: 22px;
      left: 5px;
      display: block;
      width: 8px;
      height: 8px;
      border-top: 1px solid #e8ddc9;
      border-right: 1px solid #e8ddc9;
      transform: rotate(45deg);
      content: "";
    }
  }

  &-pdf {
    margin-top: 40px;
    padding: 20px 24px;
    background-image: url("/komugi/assets/images/bg_nav02.png");
    background-size: cover;
    border-radius: 3px;
  }

  &-pdfTitle {
    @include heading-brown;
    font-size: 1.4rem;
    text-align: center;
  }

  &-pdfList {
    margin-top: 15px;
  }

  &-pdfItem {
    & + & {
      margin-top: 20px;
    }
  }

  &-contactList {
    display: flex;
    margin-top: 30px;
  }

  &-contactItem {
    width: 47%;
    padding: 12px 0 10px;
    border-radius: 3px;
    background-color: #fdecce;
    text-align: center;

    &--tel {
      margin-right: 20px;
      background-color: #ffac2a;
    }
  }


  &-contactTelIcon {
    width: 42px;
    height: 42px;
  }

  &-contactTel {
  }

  &-contactNumber {
    margin-top: 5px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  &-contactNote {
    font-size: 0.9rem;
  }

  &-contactMailIconWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%
  }

  &-contactMailIcon {
    width: 24px;
  }

  &-contactMail {
    display: block;
    margin-top: 5px;
    color: #e98b04;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
  }

  &-close {
    height: 70px;
    margin-top: 30px;
    padding-top: 15px;
    background-color: #fff;
    text-align: center;
  }

  &-closeIcon {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      border-top: 3px solid $a-color-orange--text;
      content: "";
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &-closeText {
    margin-top: 2px;
    font-family: $a-font-serif;
    font-size: 0.9rem;
  }
}
