.c-nav {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-list {
    display: flex;
    justify-content: flex-end;
    margin: 35px 20px  25px 0;
    font-family: $a-font-serif;
  }

  &-item {
    position: relative;
    min-width: 81px;
    text-align: center;
    background-position: center 15px;
    transition: all 0.2s;

    & + & {
      margin-left: 45px;
    }

    &::before {
      position: absolute;
      display: block;
      top: 16px;
      left: 0;
      right: 0;
      height: 11px;
      margin: auto;
      background-size: contain;
      transition: all 0.5s;
      opacity: 0;
      content: "";
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &:nth-child(1) {
      &::before {
        width: 68px;
        background-image: url("/komugi/assets/images/menu_hover01.png");
      }
    }

    &:nth-child(2) {
      &::before {
        width: 75px;
        background-image: url("/komugi/assets/images/menu_hover02.png");
      }
    }

    &:nth-child(3) {
      &::before {
        width: 170px;
        background-image: url("/komugi/assets/images/menu_hover03.png");
      }
    }

    &:nth-child(4) {
      &::before {
        width: 116px;
        background-image: url("/komugi/assets/images/menu_hover04.png");
      }
    }

    &:nth-child(5) {
      &::before {
        width: 79px;
        background-image: url("/komugi/assets/images/menu_hover05.png");
      }
    }


    > a {
      display: block;

      &:hover {
        opacity: 1;
      }
    }

    &--about {
      cursor: pointer;
      &:hover {
        .c-nav-aboutList {
          z-index: 10;
          opacity: 1;
          height: 308px;
        }
      }
    }
  }

  &-aboutList {
    position: absolute;
    top: 30px;
    left: -80px;
    width: 233px;
    height: 0;
    background: url("/komugi/assets/images/menu_hover_modal.png");
    padding-top: 32px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &-aboutItem {
    & + & {
      &::before {
        display: block;
        width: 100%;
        height: 1px;
        background: url("/komugi/assets/images/dot_line.png");
        content: "";
      }
    }

    a {
      position: relative;
      display: block;
      color: $a-color-brown;
      font-family: $a-font-noto;
      font-weight: 500;
      text-align: center;
      line-height: 54px;
      transition: all 0.2s;

      &:hover {
        color: $a-color-orange;
        &::before {
          @include arrow;
          position: absolute;
          top: 20px;
          left: 15px;
        }
      }
    }
  }
}
