.c-page {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  & {
  }

  &-content {
    padding-bottom: 120px;

    @media screen and (max-width: 767px) {
      margin-top: 70px;
      padding-bottom: 200px;
    }

    &--blog {
      padding-bottom: 0;

      @media screen and (max-width: 767px) {
        padding-bottom: 0;
      }
    }
  }

  &-header {
    height: 350px;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 767px) {
      height: 175px;
    }
  }

  &-headerText {
    padding-top: 145px;
    color: #fff;
    font-family: $a-font-noto;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.075em;
    text-align: center;

    @media screen and (max-width: 767px) {
      padding-top: 75px;
      font-size: 1.8rem;
    }
  }

  &-breadList {
    width: 960px;
    margin: 10px auto;
    font-size: 1.2rem;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 15px auto 0;
      padding: 0 $a-paddingX-md;
      font-size: 1.1rem;
    }
  }

  &-bredItem {
    display: inline-block;

    & + & {
      &::before {
        display: inline-block;
        margin: 0 10px;
        content: ">";
      }
    }

    @media screen and (max-width: 767px) {
      a {
        color: $a-color-brown;
        text-decoration: underline;
      }
    }
  }

  &.d-blog {
    .c-page-content {
      margin-bottom: 0;
    }
  }
}
