.c-pdf {
  & {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    border: solid 3px #e8ddc9;
    background-color: #ffffff;
    color: $a-color-brown;
    font-family: $a-font-noto;
    font-weight: 500;

    @media screen and (max-width: 767px) {
      height: 45px;
      border: solid 2px #e8ddc9;
      font-size: 1.2rem;
    }

    &::before {
      position: absolute;
      top: 22px;
      right: 15px;
      display: block;
      width: 10px;
      height: 10px;
      border-top: solid 2px #e98b04;
      border-right: solid 2px #e98b04;
      transform: rotate(135deg);
      content: "";

      @media screen and (max-width: 767px) {
        top: 13px;
        right: 12px;
      }
    }

    &.is-large {
      height: 85px;
      padding: 15px 0;
      align-items: flex-start;

      @media screen and (max-width: 767px) {
        height: 65px;
        padding: 10px 0;
      }

      .d-document-Date {
        bottom: 12px;

        @media screen and (max-width: 767px) {
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 767px) {
      }
    }
  }

  &-tag {
    display: inline-block;
    width: 48px;
    margin: 0 12px 0 15px;
    line-height: 23px;
    border-radius: 3px;
    background-color: $a-color-pink;
    color: #fff;
    font-family: $a-font-sans;
    font-size: 1.2rem;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin: 0 2vw 0 2.666666667vw;
      border-radius: 2px;
      font-size: 0.9rem;
      line-height: 18px;
    }
  }

  &-date {
    position: absolute;
    bottom: 16px;
    right: 65px;
    color: $a-color-orange;
    font-family: $a-font-sans;
    font-size: 1.2rem;
    font-weight: normal;

    @media screen and (max-width: 767px) {
      bottom: 12px;
      right: 12%;
      color: $a-color-pink;
      font-size: 0.9rem;
    }
  }
}
